openapi: "3.0.1"
info:
  title: Gravitate Health Focusing Service API Interface
  version: MVP2
  description: Gravitate Health Focusing Service. Focuses a Focused ePI.
  contact: {}
servers:
- url: https://fosps.gravitatehealth.eu
paths:
  /lenses:
    get:
      tags:
      - Lenses
      description: Returns all lenses IDs.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  lenses:
                    type: array
                    items:
                      type: string
                    example: ["lense1", "lense2", "lense3"]

  /lenses/{name}:
    get:
      tags:
      - Lenses
      description: Returns the lense itself.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceType:
                    type: string
                    example: "Bundle"
                  id:
                    type: string
                    example: "049959c2-84ba-4fe1-874b-2ccdbd547e67"
                  meta:
                    type: object
                    properties:
                      lastUpdated:
                        type: string
                        example: "2024-06-14T09:48:58.880+00:00"
                  type:
                    type: string
                    example: "searchset"
                  total:
                    type: integer
                    example: 1
                  link:
                    type: array
                    items:
                      type: object
                      properties:
                        relation:
                          type: string
                          example: "self"
                        url:
                          type: string
                          example: "http://gravitate-health.lst.tfo.upm.es/ips/api/fhir/Library?name%3Aexact=pregnancy-lens"
                  entry:
                    type: array
                    items:
                      type: object

    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: The name of the lense to return.


